

  html,body{
    margin:0px;
    padding:0;
    height:100%;
    width:100%;
  }

  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  #container{
    right: 0;
    background-color: gainsboro;
    color: white;
  }
  
  #scrambler{
    left: 0;
  background-color: #fff;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  #timeOut {
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    font-size: 7em;
    margin-bottom: 30px;
    letter-spacing: 2px;
  }

  #stats {
    font-family: 'Raleway', sans-serif;
    margin-top: 50px;
  }

  #solveNum {
    display: block;
  }
  #overallAv {
    display: block;
  }
  #fastest {
    display: block;
  }

  #timerHead {
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    font-weight: 900;
    margin-bottom: 90px;
  }

  #timeList {
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
  }
  

  @media only screen and (max-width: 600px) {
    #scrambler {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 50%;
      width: 100%;
      height: 50%;
      text-align:center;
    }

    #container {
    position: absolute;
    height: 50%;
    width: 100%;
    top: 50%;
    right: 0;
    left: 0;
    bottom: 0;
    text-align:center;
    color:#FFFFFF;
    }

    html,body{
      margin:0px;
      padding:0;
      height:100%;
      width:100%;
    }

    .split {
      padding-top: 0px;
     
    }
}

#export {
  
}

#randomstate {

}
