/* #container{
    width: 520px;
    height: 255px;
    font-family: "Arial";
    overflow-x:auto;
   
  }
  #timeList{
    width:  120px;
    height: 230px;
    margin-left:310px;
    overflow-y:auto;
    padding-top:5px;
  }
  #timeOut{
    font-size: 5em;
    width: 310px;
    height: 90px;
    position:absolute;
  }
  #stats{
    width:310px;
    height:138px;
    position: absolute;
    top:110px;
  }


   */

   html,body{
    margin:10px;
    padding:0;
    height:100%;
    width:100%;
  }

  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  #container{
    right: 0;
    background-color: gainsboro;
  }
  
  #scrambler{
    left: 0;
  background-color: #fff;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
